@font-face {
    font-family: 'Poppins Bold';
    src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Somatic';
    src: url('fonts/Somatic-Rounded.otf');
}

img{
    width: 30vw;
}